<ng-container *ngIf="{
  activeFeature: activeFeature | async
} as state">

  <app-background appDynamicStyle="background-color: primary;"></app-background>


  <app-intro></app-intro>

  <app-controls></app-controls>

  <app-blog></app-blog>

  <!-- <main fxLayout="row"
        fxLayoutAlign="start center">

    <app-nav></app-nav>

    <div>

      <ng-template [ngIf]="state.activeFeature"
                   [ngIfElse]="intro">

        <app-feature [feature]="state.activeFeature"
                     fxFlexFill>
        </app-feature>

      </ng-template>

      <ng-template #intro>

        <app-intro></app-intro>

      </ng-template>

    </div>

  </main> -->

</ng-container>
