:host {
  position: fixed;
  top: 0;
  left: 0;
}

button {
  border-radius: 50%;
  margin: 10px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  border: none;
  transform: scale(1);
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}
