<span appDynamicStyle="background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, accent 100%);">

  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>
  <i class="rain"></i>

</span>
