<img appDynamicStyle="border-color: accent;"
     src="./assets/intro.png" />

<div class="text">

  <h1 appDynamicStyle="color: text;">
    Hello my name is <br />
    <span appDynamicStyle="color: accent;">Andrew Alvino</span><br />
    i'm a javascript web developer
  </h1>

  <div class="icons"
       fxLayout="row"
       fxLayoutAlign="space-evenly center">

    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faAngular"></fa-icon>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faNode"></fa-icon>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faDocker"></fa-icon>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faReact"></fa-icon>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faCss3Alt"></fa-icon>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faHtml5"></fa-icon>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faGithub"></fa-icon>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faJs"></fa-icon>

  </div>

  <h3 appDynamicStyle="color: text;">My passion is working with cutting edge web technologies, creating rich web
    applications and providing information to millions of people.</h3>
</div>

<div fxLayout="row"
     class="links"
     fxLayoutAlign="space-evenly center">
  <a appDynamicStyle="color: text;"
     href="./assets/AA_resume.pdf"
     download>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faFileAlt"></fa-icon>
    <span>Download Resume</span>
  </a>

  <a appDynamicStyle="color: text;"
     href="//www.linkedin.com/in/andrew-alvino"
     target="_blank">
    <span>View linkedin</span>
    <fa-icon appDynamicStyle="color: accent;"
             [icon]="icons.faLinkedin"></fa-icon>
  </a>
</div>
